
.buttons-on-editor-page {
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    width: 90vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.back-button {
    height: 40px;
    width: auto;
    justify-content: flex-start;

}

.publish-button {
    height: 40px;
    width: auto;
    justify-content: flex-end;
}

 textarea {
    margin-top: 5vh;
    margin-left: 10vw;
    outline: none;
    font: 'Poppins', 'sans-serif';
    font-size: 2rem;
    font-weight: 400;
    color: #333333;
    overflow: auto;
  }

  textarea:focus {
    border-bottom: 1.5px solid black;
  }

  textarea::placeholder {
    font-size: 2rem;
  }


:root {
    --ck-focus-ring: black;
}

.ck, .ck-content, .ck-editor__editable, .ck-rounded-corners, .ck-editor__editable_inline, .ck-blurred {
    margin-left: 15vw;
    width: 80vw;
    margin-left: 10vw;
    font: 'Poppins', 'sans-serif';
    font-size: 1.4rem;
    --ck-color-panel-background: rgb(120, 120, 206);
    --ck-color-panel-border: rgb(76, 76, 245);
    border-bottom: 1px black solid;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    outline: none;
    border: none;
    border-bottom: 1.5px black solid;
    box-shadow: none;
}

.ck-content .todo-list {
    list-style: initial;
}

.ck-content blockquote {
    border-left: 3px solid black;
}

.ck ul li {
    margin-left: 5vw;
    list-style-type: disc !important;
}

.ck ol li {
    margin-left: 5vw;
    list-style-type: decimal !important;
}


a {
    text-decoration: underline black solid;
    color: black;
}

a:focus {
    cursor: pointer;
    text-decoration: underline black solid;
}

 .images-from-unsplash {
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap:   5px;
  -moz-column-count:    5;
  -moz-column-gap:      5px;
  column-count:         5;
  column-gap:           5px;  
}

.images-from-unsplash img {
    margin: 5px;
    width: 100% !important;
    height: auto !important;
    min-height: 200px; 
    padding: 0;
  }
.images-from-unsplash .img-selected {
    width: 100% !important;
    outline: blue 2px solid;
}