.Box-1{
  grid-column: 1 / 3;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-grow: row;
  box-sizing: border-box;
}
.Profile-Image{
  z-index: 3;
  background-color: inherit;
  border-radius: 20px;
  border: 3px white solid;
  height: 26vh;
  width: 26vh;
  box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.1);
  margin-top: -8vh;
  margin-left: 6vh;

}


.User-Data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row-gap: 8vh;
  grid-column-gap: 8vw;
  padding-top: 20px;
  padding-left: 3vw;
  padding-bottom: 4vh;
}

#Icons{
  height: 4.5vh;
  opacity: 60%;
  margin-right: 3vh;
}

.User-Name{
  font-size: 1.9em;
  word-wrap: break-word;
}

.User-Nickname{
  font-size: 1.2em;
  opacity: 60%;
  padding-top: 0.2em;
}

.reviewRating{
  padding-top: 0.8em;
}

.aiRating{
  padding-top: 0.9em;
}

#UserRating{
  font-size: 1.6em;
}
.User-Info{
  opacity: 60%;
  font-size: 1em;
  padding-top: 0.2vh;
}

#User-Mail{
  font-size: 1.3em;
}

.Social-Media-Links{
  padding-top: 0.9em;
}

.User-Data-1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  grid-column-gap: 8vw;
}

.User-Data-2{
  display: flex;
  flex-direction: row;
}



/* #User-Data{
  margin-right: 8.4vw;
}
.User-Data-1{
  display: flex;
  flex-direction: column;
}
.User-Name{
  font-size: 30px;
}
.User-Nickname{
  font-size: 18px;
  opacity: 60%;
  padding-top: 1vh;
}
.Social-Media-Links{
  display: flex;
  flex-direction: row;
  margin-top: 8vh;
}
#Icons{
  height: 4.5vh;
  opacity: 60%;
  margin-right: 3vh;
}
.User-Data-2{
  display: flex;
  flex-direction: column;
  padding-top: 0.6vh;
}
#User-Review-Rating{
  font-size: 26px;
}
.User-Info{
  opacity: 60%;
  font-size: 14px;
  padding-top: 0.2vh;
}
#User-Mail{
  margin-top: 8.9vh;
  font-size: 20px;
}
.User-Data-3{
  display: flex;
  flex-direction: column;
} */
