.Box-3{
  padding-left: 30px;
  padding-top: 10px;
  padding-right: 40px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 8px 8px #C2C2C2;
}
.About-Me-Heading{
  font-size: 30px;
  padding: 10px;
}
.About-Me-Details{
  font-size: 20px;
  padding: 10px 10px 30px 10px;
  opacity: 90%;
}


/* Media Queries */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .About-Me-Heading{
    font-size: 1.4rem;
  }
  .About-Me-Details{
    font-size: 1.2rem;
  }  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .About-Me-Heading{
    font-size: 1.8rem;
  }
  .About-Me-Details{
    font-size: 1.4rem;
  }
}

