/* The main content area */
.profile{
  width: inherit;
  padding-top: 5.54vh;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  width: 97.4vw;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.grid-container{
  position: absolute;
  z-index: 2;
  width: 80vw;
  top: 20vh;
  left: 10vw;
  right: 10vw;
  display: grid;
  grid-template-columns: 4fr 12fr;
  grid-gap: 5vh;
}
