  body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
  }

  #main-body-reviewpage{
    box-sizing: border-box;
    width: 100%;
    padding-left: 40px;
    margin-bottom: 30px;
  }
  .flex-container-reviewpage{
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 3vw 10vw 0 10vw;
  }


  .button-reviewpage{
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    display: inline-block;
    font-size: 20px;
    padding: 4px 30px;
    cursor: pointer;
    border-radius: 2em;
	  border: 1px solid black;
	  background: #3d91ff;
    align-self: center;
    margin: 40px 0;
    text-decoration: none !important;
  }

  .button-reviewpage:hover{
    color: black
  }

  .article-text-reviewpage {
      height: auto;
      font-size: 20px;
      color: black;
      margin-top: 50px;
      margin-bottom: 40px;
  }

  .article-text{
      font-size: 20px;
      color: gray;
    }
