  .ai-rating-total-grid {
    padding-left: 40px;
    /* padding-top: 10px;  */
    /* margin-top: -5px; */
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  2fr 4.5fr;
    grid-template-areas: 
        "main-body main-body"
        "content1 content2"
  }
  
  
  .ai-rating-headings{
      background: auto;
      width: 80%;
      padding-left: 20px;
      grid-area: main-body;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    
  }
  
  #task-nav-ai-rating{
    display: flex;
    width: 45%;
    justify-content: space-between;
  }
  #task-nav-ai-rating a{
    text-decoration: None;
    color: #BDBDBD;
  }

  .active{
    color: #060606 !important;
  }
  
  .parameters {
      grid-area: content1;
      padding-top: 1%;
      padding-bottom: 1%;
      padding-left: 3%;
      padding-right: 1%;
  }

  .ai-rating-sub-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 
      "box1 box2"
      "box3 box4";
      box-sizing: border-box;
      height: 100%;
      width: 100%;
  }


  .box1{
    margin: 3% 4% 3% 0;
    grid-area: box1;
    background-color: white;
    border-radius: .8em;
    box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.1);
  }

  .box2{
    margin: 3%;
    grid-area: box2;
    background-color: white;
    border-radius: .8em;
    box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.1);
  }

  .box3{
    margin: 3% 4% 3% 0;
    grid-area: box3;
    background-color: white;
    border-radius: .8em;
    box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.1);
  }

  .box4{
    margin: 3%;
    grid-area: box4;
    background-color: white;
    border-radius: .8em;
    box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.1);
  }


  .graph-box {
      align-content: center;;
  }
  
  
  .comp-graph {
      grid-area: content2;
      padding-top: 3%;
      padding-bottom: 2.5%;
      padding-left: 1%;
      padding-right: 6%;
      display: flex;
      
  }
  
  .content-box-ai-rating {
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      background: white;
      border-radius: .8em;
      box-shadow: 0 0.2rem 9px rgba(0, 0, 0, 0.1);
  }
  
/* Media Queries */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  .ai-rating-total-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  2fr 4fr 2.5fr;
    height: 150vh;
    grid-template-areas: 
        "main-body main-body"
        "content1 content1"
        "content2 content2"

  }
  
  .article-topic-ai-rating h1 {
    font-size: 1.6rem;
  }

  #task-nav-ai-rating {
    font-size: 0.8rem;
    width: 70%;
  }

  .stat-heading-ai-rating {
    font-size: 0.9rem;
  }

  .comp-graph {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .ai-rating-total-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:  2fr 4fr 2.5fr;
    height: 150vh;
    grid-template-areas: 
        "main-body main-body"
        "content1 content1"
        "content2 content2"

  }
  .article-topic-ai-rating h1 {
    font-size: 1.8rem;
  }

  #task-nav-ai-rating {
    font-size: 0.8rem;
    width: 60%;
  }

  .comp-graph {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .article-topic-ai-rating h1 {
    font-size: 2rem;
  }

  #task-nav-ai-rating {
    font-size: 0.9rem;
    width: 50%;
  }
}

